---
import Header from "../components/Header.astro";
import Base from '../layout/Base.astro';
import Card from '../components/Card.astro';
import { offres } from '../pages/offres/index.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Page accueil</title>
	</head>

<Base titre="Accueil">
    <h1 class="text-center ">Bienvenu sur la page d'accueil</h1> 
	<section>
		<h2>Offres Favoris</h2>
		{offres.map((offre) => offre.favori && <Card {...offre} />)}
		
	</section>
</Base>

</html>
