---
import Header from "../components/Header.astro";
import Base from "../layout/Base.astro";
import Card from "../components/Card.astro";

import { getOffres } from "../js/backend.mjs";
const offres = await getOffres();
---

<Base titre="Offres">
    <h1>Vous trouverez vos offres</h1>

<div x-data="{ showFavorites: false }" >
    <button @click="showFavorites = !showFavorites" >
        <span x-show="!showFavorites">Afficher les favoris</span>
        <span x-show="showFavorites">Afficher tout</span>
    </button>

    <div x-show="!showFavorites">
        {offres.map((offre) => <Card {...offre} />)}

    </div>
    <div x-show="showFavorites" class="bg-yellow-400 text-black">
        {offres.map((offre) => offre.favori && <Card {...offre} />)}
    </div>
</div>

    </div>
</Base>
