---
import { getOffreByPrice } from "../../../js/backend.mjs";
import Card from "../../../components/Card.astro";
import Base from "../../../layout/Base.astro";

const { prix } = Astro.params;
const offres = await getOffreByPrice(prix);
console.log(offres);

---
<Base>
    <h1>Offres pour un prix inférieur à {prix} euros</h1>
    <div>
        {offres.map(offre => (
            <Card {...offre} />
            <ul>
            <li>Adresse : {offre?.adresse}</li>
            <li>Prix de la maison : {offre?.prix}</li>
            <li>Nombre de chambre : {offre?.nombre_chambre}</li>
        </ul>
        ))}
    </div>
</Base></div>