---
const { ...event} = Astro.props;
---

<div x-data=`{favori: false}` class="mt-10 border" :class="{'bg-yellow-100': favori}"> <!-- favori est  -->
    <h2>{event.nom_maison}</h2>
    <img src={event.img} alt={event.imgAlt} class="w-64 h-64 object-cover" />

</div>
