---
---
<header class="bg-blue-400 text-white">
    <nav>
        <a href="/" class="text-center">Accueil</a>
        <a href="/offres">Offres</a>
    </nav>
    <div x-data="{ open: false }">
        <button @click="open = ! open">Toggle</button>
     
        
</header>    