---
import Base from "../../layout/Base.astro";
import Card from "../../components/Card.astro";
import { getOffres } from "../../js/backend.mjs";
import { getOffreBySurface } from "../../js/backend.mjs";

export const offres = await getOffres();
export const surface = await getOffreBySurface();
---

<Base titre="Offres">
    <h1>Vous trouverez vos offres</h1>
    <a href="/offres/surface/80">Voir les surfaces superieurs à 80m²</a>
    <a href="/offres/prix/3500000">Voir les prix inferieur à 350 000 euros</a>
    <div x-data="{ showFavorites: false, viewMode: 'grid' }">
        <button
            @click="showFavorites = !showFavorites"
            class="border border-blue-500 bg-blue-50 hover:bg-blue-100 hover:text-black rounded-md"
        >
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>
        <button
            @click="viewMode = 'grid'"
            class="border border-blue-500 bg-blue-50 hover:bg-blue-100 hover:text-black rounded-md"
        >
            Afficher en grille
        </button>
        <button
            @click="viewMode = 'list'"
            class="border border-blue-500 bg-blue-50 hover:bg-blue-100 hover:text-black rounded-md"
        >
            Afficher en liste
        </button>
        <div
            x-show="!showFavorites && viewMode === 'grid'"
            class="grid grid-cols-3 gap-4 justify-items-center"
        >
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div
            x-show="!showFavorites && viewMode === 'list'"
            class="flex flex-col gap-4 justify-items-center"
        >
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div
            x-show="showFavorites && viewMode === 'list'"
            class="flex flex-col gap-4 justify-items-center"
        >
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
        <div
            x-show="showFavorites && viewMode === 'grid'"
            class="grid grid-cols-3 gap-4 justify-items-center"
        >
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
        
    </div>
</Base>
